// Definitions
// Colors
$grey10:#F3F3F3;
$grey70: #565656;
$grey90: #1E1821;
$text01: #E5CFDB;
$standard-blue: #588CB0;
$standard-orange: #FDAC62;

// Basic Unit Length
$base-unit: 32px;

// Typefaces
$type-mono: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
$font-sans: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;

// Imports
@import "../../components/LinkBox/link-box";
@import "../../components/StickyHeader/sticky-header";
@import "../../components/Card/card";
@import "../../components/Showcase/showcase";
@import "../../components/Contact/contact";

// -------------------------------------- HEADER/ABOVE THE FOLD RULES --------------------------------------
.top--row{
  display: flex;
  justify-content: space-between;
  height: 95vh;

  padding: 0;
  margin: 0;

  *{
    padding: 0;
    margin: 0;
  }
}

.top--name{
  margin-left: $base-unit*2;
  padding: 0 0 $base-unit*3.25 0;
  display: flex;
  align-items: flex-end;
}

.top--name-internal{
  h1{
    font-family: $font-sans;
    font-size: 68pt;
    font-weight: 200;
  }
  h2{
    margin-top: $base-unit/2;
    
    font-family: $type-mono;
    font-size: 18pt;
    font-weight: 600;
    color: $standard-blue;
    span{
      color: $standard-orange;
    }
  }
}

.top--navs{
  width: 9/33%;
  font-family: $type-mono;
}

// -------------------------------------- BODY RULES --------------------------------------
.body--card-row{
  margin: 15vh $base-unit 0 $base-unit;

  .body--card-row-title{
    margin: 0 0 $base-unit/4 $base-unit;
    font-family: $type-mono;
    font-weight: 600;
  }

  .body--card-row-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

// -------------------------------------- FOOTER RULES --------------------------------------
.footer--row  {
  margin-top: 15vh;
  width: 100%;
  background-image: url(https://people.rit.edu/jtv6445/230/portfolio/media/dark-sloths.png);
  color: $text01;
}