// Basics Units & Measures
$base-unit: 32px;
$white: #FFF;
$grey10:#F3F3F3;
$grey70: #565656;
$grey100: #171717;

// Font imports
$font-mono: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
$font-sans: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;

.card--wrapper{
  width: 24.5%;
  height: 75vh;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-family: $font-sans;
}

.card--image{
  width: 100%;
}

.card--footer{
  display: flex;
  flex-direction: row;
  //height: $base-unit*2.25;

  border-style: solid;
  border-width: $base-unit/4 0 0 0;
  border-color: $grey10;

  .card--footer-icons{
    display: flex;
    flex-grow: 3;
    justify-content: space-around;
    align-items: center;
    padding: $base-unit/2;

    img{
      width: $base-unit*1.75;
      height: $base-unit*1.75;
    }
  }
  .card--footer-link{
    background-color: $grey100;

    display: flex;
    flex-grow: 3;
    flex-direction: column-reverse;

    transition: 0.1s;

    img{
      fill: $white;
      width: $base-unit;
      transition: 0.2s;
    }

  }
  .card--footer-idividual{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.15s;
  }
  .card--footer-idividual:hover{
    background-color: $grey70;
  }
}

.card--title-text{
  margin: $base-unit/2 0.75*$base-unit 0 0.75*$base-unit;
  font-weight: 600;
  font-size: 16pt;
}

.card--body-text{
  padding: $base-unit/4 0.75*$base-unit 0 0.75*$base-unit;
  font-weight: 400;
  font-size: 14pt;
  line-height: 24pt;
}

.card--footer-icon-wrapper{
  display: flex;
  flex-direction: column;

  h5{
    font-weight: 400;
    font-size: 10pt;
    text-align: center;
  }
}