.card--wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  width: 24.5%;
  height: auto;
  background-color: $white;
  font-family: $font-sans;
}

.card--image{
  width: 100%;
}

.card--footer{
  display: flex;
  flex-direction: row;

  border-style: solid;
  border-width: $base-unit/4 0 0 0;
  border-color: $grey10;

  .card--footer-icons{
    display: flex;
    flex-grow: 3;
    justify-content: space-around;
    align-items: center;
    padding: $base-unit/2;

    img{
      width: $base-unit*1.75;
      height: $base-unit*1.75;
    }
  }

  .card--footer-link{
    display: flex;
    flex-grow: 3;
    flex-direction: column-reverse;
    background-color: $grey70;
    transition: 0.1s;

    img{
      fill: $white;
      width: $base-unit;
    }

    a{
      background-color: $grey100;
    }

  }
  .card--footer-individual{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50%;
    transition: 0.15s;
  }
  .card--footer-individual:hover{
    background-color: $grey70;
  }
}

.card--title-text{
  margin: $base-unit/2 0.75*$base-unit 0 0.75*$base-unit;
  font-weight: 600;
  font-size: 16pt;
}

.card--body-text{
  padding: $base-unit/4 0.75*$base-unit $base-unit/4 0.75*$base-unit;
  font-weight: 400;
  font-size: 14pt;
  line-height: 24pt;
}

.card--footer-icon-wrapper{
  display: flex;
  flex-direction: column;

  h5{
    font-weight: 400;
    font-size: 10pt;
    text-align: center;
    line-height: 100%;
    margin-top: 8px;
  }
}