$base-unit: 32px;
$white: #FFF;

.card--wrapper{
  width: 24.5%;
  height: 65vh;
  background-color: $white;
  display: flex;
  justify-content: space-between;
}

.card--image{
  width: 100%;
}

.card--footer{
  display: flex;
  flex-direction: row;
  height: 30px;

  .card--footer-icons{
    width: 75%;
    //box-sizing: border-box;
    background-color: green;
  }
  .card--footer-link{
    width: 25%;
    //box-sizing: border-box;
    background-color: yellow;
  }
}

.card--title-text{
  margin: $base-unit/2 0.75*$base-unit 0 0.75*$base-unit;
}

.card--body-text{
  margin: $base-unit/4 0.75*$base-unit 0 0.75*$base-unit;
}