$base-unit: 32px;
$white: #FFF;


.linkbox--icon{
  width: 50%;
}

.linkbox--wrapper{
  width: 47.5vh;
  height: 47.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  transition: 0.08s;
  text-decoration: none;
}

.linkbox--wrapper:hover{
  filter: saturate(2.5);
}

.linkbox--text{
  font-size: 48pt;
  color: $white;
  text-align: center;
  line-height: 46pt;
}